src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="firstCoachSchedulesFlow" doc:id="b1a69a05-762c-4545-bf5b-2183e04f919b" >
		<try doc:name="Try" doc:id="9ec4cd75-04f0-458c-91f1-2ade3e20d58a">
					<http:request method="GET" doc:name="Schedule Request Firstcoach" doc:id="494e2a9a-3ad3-4ae8-ae80-6cb439bc8c72" config-ref="FirstCoach_SystemAPI_HTTP_Req_Conf" path="/api/{transportType}/firstcoach/schedules">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"transportType" : vars.transportType
}]]]></http:uri-params>
					<http:query-params><![CDATA[#[output application/java
---
{
	"departureLocationCode" : message.attributes.queryParams.departureLocationCode,
	"destinationLocationCode" : message.attributes.queryParams.destinationLocationCode
}]]]></http:query-params>
				</http:request>
				<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3b733d26-96c3-4109-b72e-78fdd0fc0e90">
							<set-payload value="#[[]]" doc:name="Set Payload" doc:id="4690dbb2-f120-4258-8ce7-11592cd9dedb" />
						</on-error-continue>
					</error-handler>
				</try>
				<logger level="DEBUG" doc:name="Logger" doc:id="acf94d39-320e-4cee-9f52-e11f25dff0ba" message="#[payload]"/>
				<ee:transform doc:name="Prepare Response" doc:id="d9548a3b-6bec-4f4f-9e0d-c084ee436079" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
departureSchedules: payload.departureSchedules map ( departureSchedule , indexOfDepartureSchedule ) -> {
		availableSeats: departureSchedule.availableSeats,
		departureDateTime: departureSchedule.departureDateTime,
		travelRoute: {
			destinationLocation: {
				locationCode: departureSchedule.travelRoute.destinationLocation.locationCode
			},
			originLocation: {
				locationCode: departureSchedule.travelRoute.originLocation.locationCode
			}
		}
	}	

}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					
	</sub-flow>
	<sub-flow name="transnationalSchedulesFlow" doc:id="85a42814-8d6c-4a19-84c7-7dac51a8efaf" >
		<try doc:name="Try" doc:id="1e2fd68a-1996-4b40-b625-b0114ec209dd">
					<http:request method="GET" doc:name="Schedule Request Transnational" doc:id="5f608855-c2c2-4392-b21c-7b6bd0fd79f5" config-ref="Transnational_SystemAPI_HTTP_Req_Conf" path="/api/{transportType}/transnational/schedules">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"transportType" : vars.transportType
}]]]></http:uri-params>
				</http:request>
				<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b252e5a5-8735-4eb5-9024-d8b2b0c07218">
							<set-payload value="#[[]]" doc:name="Set Payload" doc:id="74d71759-9c87-4a94-9cb4-90ee0522c0bc" />
						</on-error-continue>
					</error-handler>
				</try>
				<logger level="DEBUG" doc:name="Logger" doc:id="3c94cf5c-93c0-4583-a389-fcef929ef5be" message="#[payload]"/>
				<ee:transform doc:name="Prepare Response" doc:id="41495a3d-9deb-4514-b682-e3277500e56e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	departureSchedules: payload.departureSchedules map ( departureSchedule , indexOfDepartureSchedule ) -> {
		availableSeats: departureSchedule.availableSeats,
		departureDateTime: departureSchedule.departureDateTime,
		travelRoute: {
			destinationLocation: {
				locationCode: departureSchedule.travelRoute.destinationLocation.locationCode
			},
			originLocation: {
				locationCode: departureSchedule.travelRoute.originLocation.locationCode
			}
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
					
	</sub-flow>
	<sub-flow name="firstCoachRoutesFlow" doc:id="9467759c-28a8-4469-bb51-be7b0f399d98" >
		<try doc:name="Try" doc:id="ae97234b-99df-44bb-ab24-40a03a172cd0">
					<http:request method="GET" doc:name="Route Request Firstcoach" doc:id="45ea20f9-99a9-41a1-8738-a9cae27feb3f" config-ref="FirstCoach_SystemAPI_HTTP_Req_Conf" path="/api/{transportType}/firstcoach/routes">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"transportType" : vars.transportType
}]]]></http:uri-params>
				</http:request>
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9368751b-9600-4132-af73-70a550a98b3b">
							<set-payload value="#[[]]" doc:name="Set Payload" doc:id="368d8361-2ee9-480a-8f6c-cc20056f3952" />
						</on-error-continue>
					</error-handler>
				</try>
		<logger level="DEBUG" doc:name="Logger" doc:id="81190c23-c79d-4606-93ed-6bb95a2f0fc4" message="#[payload]" />
		<ee:transform doc:name="Prepare Response" doc:id="cfcce699-2354-4d30-ac21-8d0d3a8fadbf">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	companyCode: "First Coach",
	originLocation: {
		locationCode: payload01.originLocation.locationCode
	},
	destinationLocation: {
		locationCode: payload01.destinationLocation.locationCode
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</sub-flow>
	<sub-flow name="transnationalRoutesFlow" doc:id="47bdae82-7eba-4d1c-be9a-9791f1434e37" >
		<try doc:name="Try" doc:id="7c55c034-63bc-4336-8f31-7bbbc049a07d">
					<http:request method="GET" doc:name="Route Request Transnational" doc:id="a94b2588-872e-4665-bbfb-14d84a48e609" config-ref="Transnational_SystemAPI_HTTP_Req_Conf" path="/api/{transportType}/transnational/routes">
					<http:uri-params><![CDATA[#[output application/java
---
{
	"transportType" : vars.transportType
}]]]></http:uri-params>
				</http:request>
					<error-handler>
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="9a8de6ea-9c94-4774-87ab-295655d580ed">
							<set-payload value="#[[]]" doc:name="Set Payload" doc:id="2ded1964-a937-40a7-b9c0-c2d0ff053589" />
						</on-error-continue>
					</error-handler>
				</try>
		<logger level="DEBUG" doc:name="Logger" doc:id="742d88a5-49c5-4743-8d3b-a1a75a88f93d" message="#[payload]" />
		<ee:transform doc:name="Prepare Response" doc:id="2d278d24-5972-42d6-87bd-0b1b1511a6c1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	companyCode: "Transnational",
	originLocation: {
		locationCode: payload01.originLocation.locationCode
	},
	destinationLocation: {
		locationCode: payload01.destinationLocation.locationCode
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</sub-flow>
	<flow name="routesFlow" doc:id="d0412f36-9ae4-4c5e-b8e6-67d05fbbc6ab" >
		<set-variable value="#[message.attributes.queryParams.companyCode]" doc:name="Set companyCode" doc:id="7a3d7118-354f-467e-95a5-110f2eab2636" variableName="companyCode"/>
		<set-variable value="#[message.attributes.uriParams.transportType]" doc:name="Set transportType" doc:id="5bd36067-0b6e-440d-b7e1-60fbb7ee82b4" variableName="transportType"/>
		<choice doc:name="Choice" doc:id="e5da5ab5-0451-4570-9426-982a2696c169" >
			<when expression='#[vars.companyCode == "transnational"]'>
				<flow-ref doc:name="transnationalRoutesFlowRef" doc:id="55a0d062-5b2c-4c4d-b827-e7378cf8d417" name="transnationalRoutesFlow" />
			</when>
			<when expression='#[vars.companyCode == "firstcoach"]'>
				<flow-ref doc:name="firstCoachRoutesFlowRef" doc:id="fa0a3ebe-51bd-4552-b27e-a39c613ed19f" name="firstCoachRoutesFlow" />
			</when>
			<otherwise >
				<scatter-gather doc:name="Scatter-Gather" doc:id="5ef391b8-24b3-4d39-844f-0fb949e6afad">
			<route>
				<flow-ref doc:name="transnationalRoutesFlowRef" doc:id="fb8825f0-93aa-4110-b0a5-cb5cae710553" name="transnationalRoutesFlow" />
			</route>
			<route>
				<flow-ref doc:name="firstCoachRoutesFlowRef" doc:id="8f8973e2-ad78-40a9-a036-8f1eb745221f" name="firstCoachRoutesFlow" />
			</route>
			
		</scatter-gather>
			<ee:transform doc:name="Merge Responses" doc:id="73c86b44-6498-4fcb-ad7c-0fb7bd9117fe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="843d9dc7-dbd5-4193-9dbe-1fb11ce3954a" >
				<ee:transform doc:name="Set X-Event-Id" doc:id="7d4116c2-2ec3-48cd-9a61-cab7f4353395" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/json
---
{
	"X-Event-Id": correlationId
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Payload" doc:id="be7a3341-b1f1-4272-be08-3698d274f90e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Internal Server Error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="scheduleFlow" doc:id="d4f81c92-8f2e-4afe-90e8-f3872a010660" >
		<set-variable value="#[message.attributes.queryParams.companyCode]" doc:name="Set companyCode" doc:id="bdea76b6-fefa-4488-bbb9-0449cec12677" variableName="companyCode" />
		<set-variable value="#[message.attributes.uriParams.transportType]" doc:name="Set transportType" doc:id="aab2c815-9caa-42ff-a145-c286dfb7e0d1" variableName="transportType"/>
		<choice doc:name="Choice" doc:id="bdef8d4b-9f5d-479f-af29-b6fc52ed9810" >
			<when expression='#[vars.companyCode == "transnational"]'>
				<flow-ref doc:name="transnationalSchedulesFlowRef" doc:id="640be80c-893b-4e4f-8292-a348130fe56d" name="transnationalSchedulesFlow"/>
			</when>
			<when expression='#[vars.companyCode == "firstcoach"]'>
				<flow-ref doc:name="firstCoachSchedulesFlowRef" doc:id="3c51ccd2-4361-4539-b186-d86f288d9b6c" name="firstCoachSchedulesFlow"/>
			</when>
			<otherwise >
				<scatter-gather doc:name="Scatter-Gather" doc:id="6f6426e6-8e0b-4acf-a1b8-add9453a1db2">
			<route>
				<flow-ref doc:name="Flow Reference" doc:id="06e96fbd-cf86-4683-a6a3-ba04158b191b" name="transnationalSchedulesFlow" />
				
			</route>
			<route>
				<flow-ref doc:name="Flow Reference" doc:id="6ef01716-21fa-4465-a4cd-c44b28b72fd8" name="firstCoachSchedulesFlow" />
				
			</route>
		</scatter-gather>
		<ee:transform doc:name="Merge Responses" doc:id="fbfb41cc-afca-4257-8b6d-03a4f985661d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
		
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="de637e5f-49e2-4d0a-96c6-7ba877832fed" >
				<ee:transform doc:name="Set X-Event-Id" doc:id="24834184-4d75-471f-b2a4-fc624a2e65e1" >
					<ee:message />
					<ee:variables >
						<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/json
---
{
	"X-Event-Id": correlationId
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Set Payload" doc:id="08131705-ae14-4ef4-8231-b30e371d3731" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "Internal Server Error"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
